#root {
  --primary-color: rgb(235, 229, 213);
  --secondary-color: hsl(29, 30%, 21%);
  min-height: 100vh;
  --primary-shadow-color: 44deg 15% 54%;
  --primary-shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--primary-shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--primary-shadow-color) / 0.34),
    1.1px 1.9px 2.5px -2.5px hsl(var(--primary-shadow-color) / 0.34);
  --primary-shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--primary-shadow-color) / 0.36),
    0.9px 1.5px 2px -0.8px hsl(var(--primary-shadow-color) / 0.36),
    2.2px 3.8px 4.9px -1.7px hsl(var(--primary-shadow-color) / 0.36),
    5.3px 9.4px 12.1px -2.5px hsl(var(--primary-shadow-color) / 0.36);
  --primary-shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--primary-shadow-color) / 0.34),
    1.5px 2.7px 3.5px -0.4px hsl(var(--primary-shadow-color) / 0.34),
    2.9px 5.1px 6.6px -0.7px hsl(var(--primary-shadow-color) / 0.34),
    4.7px 8.4px 10.8px -1.1px hsl(var(--primary-shadow-color) / 0.34),
    7.5px 13.4px 17.3px -1.4px hsl(var(--primary-shadow-color) / 0.34),
    11.8px 20.9px 27px -1.8px hsl(var(--primary-shadow-color) / 0.34),
    17.9px 31.7px 41px -2.1px hsl(var(--primary-shadow-color) / 0.34),
    26.4px 46.8px 60.4px -2.5px hsl(var(--primary-shadow-color) / 0.34);
  --secondary-shadow-color: 35deg 26% 1%;
  --secondary-shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--secondary-shadow-color) / 0.34),
    1.1px 1.9px 2.5px -2.5px hsl(var(--secondary-shadow-color) / 0.34);
  --secondary-shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.36),
    0.9px 1.5px 2px -0.8px hsl(var(--secondary-shadow-color) / 0.36),
    2.2px 3.8px 4.9px -1.7px hsl(var(--secondary-shadow-color) / 0.36),
    5.3px 9.4px 12.1px -2.5px hsl(var(--secondary-shadow-color) / 0.36);
  --secondary-shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.34),
    1.5px 2.7px 3.5px -0.4px hsl(var(--secondary-shadow-color) / 0.34),
    2.9px 5.1px 6.6px -0.7px hsl(var(--secondary-shadow-color) / 0.34),
    4.7px 8.4px 10.8px -1.1px hsl(var(--secondary-shadow-color) / 0.34),
    7.5px 13.4px 17.3px -1.4px hsl(var(--secondary-shadow-color) / 0.34),
    11.8px 20.9px 27px -1.8px hsl(var(--secondary-shadow-color) / 0.34),
    17.9px 31.7px 41px -2.1px hsl(var(--secondary-shadow-color) / 0.34),
    26.4px 46.8px 60.4px -2.5px hsl(var(--secondary-shadow-color) / 0.34);
}
.App {
  background-color: var(--primary-color);
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  min-height: inherit;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  appearance: 0;
  box-sizing: border-box;
  height: 100vh;
}
.nav, .footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 80px;
}
.nav {
  background-color: var(--primary-color);
  box-shadow: var(--primary-shadow-elevation-medium);
  position: relative;
  z-index: 10;
}
.footer {
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  box-shadow: -0.3px -0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.36),
    -0.9px -1.5px 2px -0.8px hsl(var(--secondary-shadow-color) / 0.36),
    -2.2px -3.8px 4.9px -1.7px hsl(var(--secondary-shadow-color) / 0.36);
}
.github-link {
  text-decoration: none;
}
.github-link:visited {
  text-decoration: none;
  color: rgb(255, 196, 0);
}
h1 > a {
  margin-top: 0;
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
h1 > a:visited {
  color: black;
}
button, .submit-comment-button {
  cursor: pointer;
}
.post {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post button {
  background-color: transparent;
  border: none;
}
.see-comments:hover {
  text-decoration: underline;
}
.posts-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.post-title {
  margin: 0;
  font-size: 1.5rem;
}
.post-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.post-content {
  text-align: left;
  white-space: pre-wrap;
}
.content {
  background-color: var(--primary-color);
  min-height: calc(100vh - 160px);
  padding: 20px;
  padding-bottom: 90px;
}
.comment {
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  background-color: var(--primary-color);
  padding: 10px 8px;
  height: 100%;
  margin: 1px;
}
.comment-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1px;
  width: 100%;
  box-sizing: border-box;
}
.comments-container {
  box-sizing: border-box;
  background-color: var(--secondary-color);
  width: 100%;
  padding-right: 2px;
  margin-bottom: 30px;
}
.comment-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 40px;
}
.comment-form > div {
  width: 100%; /* may cause problems in wider screens*/
}
.comment-content {
  white-space: pre-wrap;
}
.form-comment-info, .form-display-name-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.post-page-post {
  white-space: pre-wrap;
  padding: 0 20px;
}
.display-name-input {
  width: 100%;
  font-size: 1rem;
}
.comment-input {
  font-size: 1rem;
  width: 100%;
  height: 170px;
}
.submit-comment {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}
.submit-comment-button {
  font-weight: 700;
  font-size: 1.1rem;
  height: 40px;
  width: 80px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: var(--secondary-shadow-elevation-medium);
}
.space-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.comment p, .comment h3 {
  margin: 0;
}
.comment-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media  (min-width: 500px) {
  .submit-comment {
    margin-bottom: 20px;
  }
  .display-name-input {
    width: 100%;
    font-size: 1rem;
  }
  .comments-container {
    box-sizing: border-box;
  }
  
  .comment-form {
    padding: 0 100px;
  }
  .comment-input {
    width: 100%;
    height: 170px;
  } /* not sure if this should go here or 1050px */
  .post {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .post-textbox {
    width: 100%;
    height: 400px;
  }
  .title-input {
    width: 100%;
  }
  .title-info {
    width: 100%;
  }
  .error-list {
    margin: 40px 120px;
  }
}

@media (min-width: 1050px) {
  .App {
    background-color: var(--secondary-color);
    box-sizing: border-box;
  }
  .content {
    box-sizing: border-box;
    width: calc(100% - 30vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15vw;
    position: relative;
    z-index: 9;
    box-shadow: 0px 0px 0.7px hsl(var(--secondary-shadow-color) / 0.36),
    0px 0px 2px -0.8px hsl(var(--secondary-shadow-color) / 0.36),
    0px 0px 4.9px -1.7px hsl(var(--secondary-shadow-color) / 0.36),
    0px 0px 12.1px -2.5px hsl(var(--secondary-shadow-color) / 0.36);
  }
  .post-page-post {
    padding: 0 10vw;
  }
  .comment-form {
    width: 20vw;
  }
  .post-textbox {
    width: 100%;
    height: 400px;
  }
  .submit-comment {
    align-items: center;
  }
  .comments-container {
    width: 45vw;
  }
  .display-name-input {
    width: 20vw;
  }
  .comment-section {
    width: 80%;
    margin-bottom: 120px;
    align-items: center;
  }
  .post-list {
    width: 70%;
    gap: 1px;
    background-color: var(--secondary-color);
  }
  .post {
    padding: 20px 0;
    margin: 0;
    background-color: var(--primary-color);
  }
}