/* add new font*/
#root {
  --primary-color: rgb(235, 229, 213);
  --secondary-color: hsl(29, 30%, 21%);
  height: 100vh;
  --primary-shadow-color: 44deg 15% 54%;
  --primary-shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--primary-shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--primary-shadow-color) / 0.34),
    1.1px 1.9px 2.5px -2.5px hsl(var(--primary-shadow-color) / 0.34);
  --primary-shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--primary-shadow-color) / 0.36),
    0.9px 1.5px 2px -0.8px hsl(var(--primary-shadow-color) / 0.36),
    2.2px 3.8px 4.9px -1.7px hsl(var(--primary-shadow-color) / 0.36),
    5.3px 9.4px 12.1px -2.5px hsl(var(--primary-shadow-color) / 0.36);
  --primary-shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--primary-shadow-color) / 0.34),
    1.5px 2.7px 3.5px -0.4px hsl(var(--primary-shadow-color) / 0.34),
    2.9px 5.1px 6.6px -0.7px hsl(var(--primary-shadow-color) / 0.34),
    4.7px 8.4px 10.8px -1.1px hsl(var(--primary-shadow-color) / 0.34),
    7.5px 13.4px 17.3px -1.4px hsl(var(--primary-shadow-color) / 0.34),
    11.8px 20.9px 27px -1.8px hsl(var(--primary-shadow-color) / 0.34),
    17.9px 31.7px 41px -2.1px hsl(var(--primary-shadow-color) / 0.34),
    26.4px 46.8px 60.4px -2.5px hsl(var(--primary-shadow-color) / 0.34);
  --secondary-shadow-color: 35deg 26% 1%;
  --secondary-shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--secondary-shadow-color) / 0.34),
    1.1px 1.9px 2.5px -2.5px hsl(var(--secondary-shadow-color) / 0.34);
  --secondary-shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.36),
    0.9px 1.5px 2px -0.8px hsl(var(--secondary-shadow-color) / 0.36),
    2.2px 3.8px 4.9px -1.7px hsl(var(--secondary-shadow-color) / 0.36),
    5.3px 9.4px 12.1px -2.5px hsl(var(--secondary-shadow-color) / 0.36);
  --secondary-shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.34),
    1.5px 2.7px 3.5px -0.4px hsl(var(--secondary-shadow-color) / 0.34),
    2.9px 5.1px 6.6px -0.7px hsl(var(--secondary-shadow-color) / 0.34),
    4.7px 8.4px 10.8px -1.1px hsl(var(--secondary-shadow-color) / 0.34),
    7.5px 13.4px 17.3px -1.4px hsl(var(--secondary-shadow-color) / 0.34),
    11.8px 20.9px 27px -1.8px hsl(var(--secondary-shadow-color) / 0.34),
    17.9px 31.7px 41px -2.1px hsl(var(--secondary-shadow-color) / 0.34),
    26.4px 46.8px 60.4px -2.5px hsl(var(--secondary-shadow-color) / 0.34);
}
.App {
  background-color: var(--primary-color);
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  appearance: 0;
  min-height: 100vh;
  box-sizing: border-box;
  height: 100%;
}
.nav, .footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 80px;
}
.nav {
  background-color: var(--primary-color);
  box-shadow: var(--primary-shadow-elevation-medium);
  position: relative;
  z-index: 10;
  
}
.footer {
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-top: auto;
  z-index: 10;
  box-shadow: -0.3px -0.5px 0.7px hsl(var(--secondary-shadow-color) / 0.36),
    -0.9px -1.5px 2px -0.8px hsl(var(--secondary-shadow-color) / 0.36),
    -2.2px -3.8px 4.9px -1.7px hsl(var(--secondary-shadow-color) / 0.36);
}
.github-link {
  text-decoration: none;
}
.github-link:visited {
  text-decoration: none;
  color: rgb(255, 196, 0);
}
h1 > a {
  margin-top: 0;
  margin-left: 20px;
  color: black;
  text-decoration: none;
}
h1 > a:visited {
  color: black;
}
button {
  cursor: pointer;
}
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 0 0 2px;
  gap: 2px;
}
.nav-buttons button {
  background-color: var(--primary-color);
  border: none;
  color: black;
  font-weight: 700;
  font-size: 0.9rem;
}
.nav-buttons > div {
  background-color: var(--primary-color);
  border: none;
  height: 100%;
  width: 70px;
  padding: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(216, 210, 199);
}
.log-out {
  height: 100%;
  width: 100%;
}
.log-out:hover {
  background-color: var(--primary-color);
  color: black;
}
.nav-buttons > a {
  background-color: var(--primary-color);
  border: none;
  height: 100%;
  width: 70px;
  padding: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.content {
  background-color: var(--primary-color);;
  padding: 10px;
}
.posts-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.post-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post {
  width: 100%;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
}
.post-title {
  margin: 0;
}
.action-buttons {
  display: flex;
  gap: 2px;
  padding: 2px;
  height: 42px;
}
.top-post-buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 2px;
  height: 100%;
}
.top-post-buttons > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 42px;
  height: 100%;
}
.top-post-buttons button {
  width: 42px;
}
.action-buttons button, .delete-comment-button {
  background-color: var(--primary-color);
  font-weight: 700 ;
  border-radius: 8px;
  border: 1px rgb(71, 54, 38) solid;
  width: 42px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-post-buttons > a > button {
  width: 100%;
  height: 100%;
}
.publish-button { 
  width: max-content !important;
  padding: 0 4px !important;
  width: 70px !important;
}
.submit-form > form {
  width: 100%;
}
.title-input {
  height: 22px;
  font-size: 1.2rem;
  width: 80%;
}
.title-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.post-content {
  margin-top: 20px;
}
.post-textbox {
  height: 50vw;
  font-size: 1.2rem;
  width: 80%;
}
.centered-form-elements {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.sign-in-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content;
  gap: 20px;
}
.post-form {
  width: 90%;
}
.label-container {
  width: 100%;
}
.password-label, .username-label {
  float: left;
}
.sign-in-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sign-in-input {
  width: 60vw;
  height: 22px;
  font-size: 1.2rem;
}
.sign-in-button, .submit-post-button {
  font-weight: 700;
  font-size: 1.1rem;
  height: 40px;
  width: 80px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: var(--secondary-shadow-elevation-medium);
}
.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 5px 0;
}
.comment-section {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  margin-bottom: 10vw;
  gap: 1px;
}
.display-name {
  margin: 0;
}
.form-comment-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5px 0;
}
.comment-text {
  margin-right: 5px;
  width: 100%;
}
.comment-date {
  margin-left: auto;
}
@media  (min-width: 500px) {
  .post {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .submit-form > form {
    width: 100%;
  }
  .post-textbox {
    width: 100%;
    height: 400px;
  }
  .title-input {
    width: 100%;
  }
  .title-info {
    width: 100%;
  }
}

@media (min-width: 1050px) {
  .App {
    background-color: var(--secondary-color);
    box-sizing: border-box;
  }
  .content {
    box-sizing: border-box;
    width: calc(100% - 20vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10vw;
    position: relative;
    z-index: 9;
    box-shadow: 0px 0px 0.7px hsl(var(--secondary-shadow-color) / 0.36),
    0px 0px 2px -0.8px hsl(var(--secondary-shadow-color) / 0.36),
    0px 0px 4.9px -1.7px hsl(var(--secondary-shadow-color) / 0.36),
    0px 0px 12.1px -2.5px hsl(var(--secondary-shadow-color) / 0.36);
  }
  .submit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .submit-form > form {
    width: 80%;
  }
  .post-textbox {
    width: 100%;
    height: 400px;
  }
  .title-input {
    width: 100%;
  }
  .title-info {
    width: 100%;
  }
  .comment-section {
    width: 80%;
    margin-bottom: 120px;
  }
  .post-list {
    width: 50%;
    gap: 1px;
    background-color: var(--secondary-color);
  }
  .post {
    padding: 8px 0;
    margin: 0;
    background-color: var(--primary-color);
  }
}